<!DOCTYPE html>
<html class="no-js">
<head>
    <title>Cookies desabilitados - Sistema de Gerenciamento</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/Sistema.css")" rel="stylesheet" type="text/css"/>
</head>

    <body>
        <div class="header">
            <a class="brand">&copy; OK <small>0.1</small></a>
        </div>

        <div class="content">
            <h3>Cookies desabilitados</h3>
            <p>A funcionalidade de cookies do seu navegador está desativada. Ative-a para acessar o sistema!</p>
            <a href="@Url.Action("Index", "Home")" class="btn"><i class="icon-refresh"></i> Tente acessar novamente</a>
        </div>
    </body>
</html>