<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!-- My SQL    
    <add name="Entities" connectionString="Server=localhost;Uid=root;Pwd=tiok;Database=rpsistemadb" providerName="MySql.Data.MySqlClient"/>
    <add name="EntitiesLog" connectionString="Server=localhost;Uid=root;Pwd=tiok;Database=rplogdb" providerName="MySql.Data.MySqlClient"/>
    -->
    <!-- SQL Server -->
    <!---->
    <!-- <add name="Entities.RP.Log" connectionString="Data Source=192.168.1.2;Initial Catalog=RPLogDB;User Id=sa;Password=visual" providerName="System.Data.SqlClient"/>
    <add name="Entities.RP.Repositorio" connectionString="Data Source=192.168.1.2;Initial Catalog=RPRepositorioDB;Persist Security Info=True;User ID=sa;Password=visual" providerName="System.Data.SqlClient"/>-->
    <!-- Postgres Devart.Data.PostgreSql ;Unicode=true || Npgsql -->
    <add name="Entities.RP.Sistema" connectionString="Data Source=(local);Initial Catalog=sistema;User Id=sa;Password=visual" providerName="System.Data.SqlClient" />
    <!--<add name="Entities.RP.Log" connectionString="User ID=postgres;Password=Visual1;Host=192.168.1.9;Port=5432;Database=rplogdb;Unicode=true" providerName="Devart.Data.PostgreSql"/>-->
    <!--Mongo Database-->
    <add name="MongoServerSettings" connectionString="mongodb://192.168.25.8:27017/RPChat"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="10000"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="PathRPT" value="C:\Projetos\RP\RP.Sistema.Report\Report"/>
    <add key="PathXMLAlias" value="C:\Projetos\RP\RP\RP.Sistema.Web\Files\TableAlias.XML"/>
    <add key="License" value="20"/>
    <add key="AdminUsers" value="1"/>
    <add key="idPerfilPadrao" value="2"/>
    <add key="UsuarioValidadeSenha" value="30"/>
    <add key="API_KEY" value="03BC7DA6-0FFE-B1B6-CD8B-35CFBAE48BF1"/>
    <add key="API_KEY_SAUDE" value="3A8B4AB1-E067-ED9F-7E71-86D80F904967"/>
    <add key="PathFile" value="C:\Projetos\RP\RP.Sistema.Web\Files\"/>
    <add key="PathAtalho" value="C:\Projetos\RP\RP.Sistema.Web\Content\"/>
    <add key="schema" value="dbo"/>
    <add key="Seguranca:tentativasParaExibirCaptcha" value="3"/>
    <add key="Seguranca:tentativasParaBloquearUsuario" value="6"/>
    <add key="Sistema:nome" value="simetric@"/>
    <add key="Sistema:versao" value="1.0"/>
  </appSettings>
  <!--  
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
  <system.web>
    <globalization culture="pt-BR" uiCulture="pt-BR"/>
    <compilation targetFramework="4.5" debug="true"/>
    <sessionState mode="StateServer" cookieless="false" timeout="60"/>
    <authentication mode="Forms">
      <forms loginUrl="/Auth/Login" timeout="60" slidingExpiration="true"/>
    </authentication>
    <machineKey validationKey="9CEB3EDB8FDB5BEB8E5D60C5315C536F2D717FBEC60C7CAE90BDB790F1A0490905D1A0BCA30275C3059A7F571BBC49038D8E1DB4ACBE7CBCA38CBC036C19AB8E" decryptionKey="E7731DCCAC29816732314AD736ABEA98E50252F2293FDD21" validation="SHA1"/>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <caching>
      <outputCache enableOutputCache="true"/>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="ServiceCacheServer" location="Server" duration="60" varyByParam="none"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="OK Sistemas &lt;odairkreuzberg@gmail.com&gt;">
        <network host="smtp.gmail.com" port="587" defaultCredentials="false" userName="odairkreuzberg@gmail.com" password="boti100doh" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00"/>
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <services>
      <service name="RP.Sistema.Web.Services.UsuarioService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="RP.Sistema.Web.Services.IUsuarioService" behaviorConfiguration="web"/>
      </service>
      <service name="RP.Sistema.Web.Services.EntidadeService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="RP.Sistema.Web.Services.IEntidadeService" behaviorConfiguration="web"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization serviceAuthorizationManagerType="RP.Sistema.Web.Helpers.APIKeyAuthorization, RP.Sistema.Web"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>